* {
	box-sizing: border-box;
}

body {
	font-family: 'K2D', sans-serif;
}

.barick-chat-container {
	width: 350px;
	position: relative;
    margin: 0 auto;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    background: deepskyblue;
}

.barick-chat-container .chat-accumulator {
	height: 400px;
}

.barick-chat-container .chat-titlebar {
    /*background: #00bfff;*/
    height: 30px;
}

.barick-chat-container .chat-title {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 3px;
    left: 8px;
    max-width: 90%;
}

.barick-chat-container .chat-accumulator {
    background: #9fffca;
    border: 5px solid #00bfff;
    padding: 10px;
    overflow: auto;
}

.barick-chat-container .chat-input-area {
    position: relative;
}

.barick-chat-container .baricons-container {
    height: 250px;
    width: 260px;
    border: 1px solid #bbb;
    background: #fff;
    position: absolute;
    bottom: 89px;
    right: -300px;
    transition: all .4s ease-out;
    overflow: auto;
}

.barick-chat-container .baricons-container.visible {
    right: 5px;
}

.barick-chat-container .chat-input {
    width: 100%;
    display: inline-block;
    resize: none;
    height: 80px;
    font-size: 16px;
    padding: 5px 35px 5px 5px;
    overflow: auto;
}

.barick-chat-container .chat-input-right-toolbox {
	width: 35px;
    height: 80px;
    /*background: deepskyblue;*/
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid deepskyblue;
}

.barick-chat-container .send-btn {
    font-size: 22px;
    display: block;
    width: 100%;
    background: deepskyblue;
    color: #fff;
}

.barick-chat-container .chatlet {
	background: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    width: 80%;
    margin: 5px 0;
    font-size: 16px;
}

.barick-chat-container .chatlet.auto-chatlet {
	float: left;
}

.barick-chat-container .chatlet.user-chatlet {
	float: right;
}

.barick-chat-container .show-smiley {
    height: 33px;
    width: 33px;
    background: url('./img/sample-icons-spritesheet-40px.jpg') -7px -8px no-repeat;
    overflow: hidden;
    margin-top: 2px;
} 

.barick-chat-container .icon-span {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    background: url('./img/sample-icons-spritesheet-40px.jpg') 0 0 no-repeat;
}